.left-back{
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/2eb7a411301475.560f571730c82.jpg') center no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
}